<% if @u && @u.errors.any? %>

    <% @u.errors.full_messages.each do |msg| %>
        <p style="color: red;"><%= msg %></p>
    <% end %>

<% end %>

<form action="/signup" method="post">

    <input type="text" placeholder="Name" name="name"><br/>
    <input type="text" placeholder="Username" name="username"><br/>
    <input type="password" placeholder="Password" name="password"><br/>
    <input type="submit" value="Sign Up">

</form>


<a href="/login">Log In</a>