<a href="/todos/new">Create Todo</a>

<ul>
    <% @todos.each do |todo| %>
        <li><a href="/todos/<%= todo.id %>"><%= todo.content %></a> -- <a href="/todos/<%= todo.id %>/edit">Edit</a>
        <form action="/todos/<%= todo.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
        </li>
    <% end %>
</ul>

